@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Rubik", sans-serif;
  background-image: url("/images/photos/bg-img.jpg");
}
header {
  background: white;
  padding: 15px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar i {
  display: none;
}
header h2 {
  color: #31aa7d;
  margin-left: 80px;
  cursor: pointer;
}
ul #home {
  color: black;
  border-radius: 10px;
}
ul a {
  padding: 8px 15px;
  margin-left: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #31aa7d;
}
ul #home:hover {
  background-color: black;
  color: white;
  box-shadow: none;
}
ul a:hover {
  background-color: white;
  color: #31aa7d;
  box-shadow: 0 0 10px rgb(189, 183, 183);
  border-radius: 10px;
}
ul #login:hover,
ul #signup:hover {
  outline: 1px solid #31aa7d;
  box-shadow: none;
}
.banner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-image: url("/images/photos/banner-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.banner .banner-left {
  width: 35%;
}
.banner .banner-left h1 {
  color: #31aa7d;
}
.banner .banner-left p {
  margin: 20px 0;
  line-height: 24px;
}
.banner .banner-left .get-btn {
  background-color: #31aa7d;
  color: white;
  border: 0;
  padding: 8px 40px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}
.banner .banner-left .news-btn {
  background-color: black;
  color: white;
  border: 0;
  padding: 8px 40px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  margin-left: 15px;
  cursor: pointer;
}
.banner img {
  padding-top: 10px;
  width: 22%;
}
.products-title,
.team-title,
.blogs-title {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: center;
  align-items: center;
}
.products-title h2,
.team-title h2,
.blogs-title h2 {
  color: #31aa7d;
}
.products-title p,
.team-title p,
.blogs-title p {
  margin-bottom: 15px;
  line-height: 20px;
  font-size: 15px;
  width: 50%;
  text-align: center;
}
.blogs-title {
  margin-top: 60px;
}
.products,
.team {
  padding: 0 10%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.single-product,
.single-person,
.single-blog {
  background: white;
  box-shadow: 0 0 4px rgba(97, 128, 112, 0.329);
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
}
.single-product img {
  margin: 20px 0;
  width: 60%;
}
.single-person img {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.single-product h3 {
  color: #31aa7d;
}
.single-person h3 {
  color: #31aa7d;
  margin-top: 10px;
}
.single-product p {
  margin: 10px 0;
  padding: 0 20px;
}
.single-person p {
  margin: 10px 0;
  padding: 0 20px;
  font-weight: bold;
}
.single-product i {
  margin: 10px 0;
  color: orange;
  margin-left: -4px;
}
.single-product button {
  background-color: #31aa7d;
  color: white;
  border: 0;
  width: 100%;
  padding: 8px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  font-weight: bold;
  font-size: 14px;
  margin-top: 10px;
  cursor: pointer;
}
.browser-btn {
  background-color: #31aa7d;
  color: white;
  border: 0;
  padding: 8px 40px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  display: grid;
  margin: 20px auto 45px auto;
}
.blogs {
  padding: 0 10%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.single-blog img {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.date {
  display: flex;
  margin-bottom: 10px;
}
.date i {
  font-weight: bold;
  color: #31aa7d;
  margin-right: 10px;
}
.date h5 {
  margin-left: 8px;
}
.single-blog {
  text-align: left;
}
.blog-text {
  padding: 10px;
}
.single-blog h5 {
  font-size: 15px;
  color: #31aa7d;
}
.single-blog p {
  font-size: 14px;
  margin-top: 7px;
}
.single-blog button {
  color: #31aa7d;
  font-weight: bold;
  margin-top: 10px;
  border: 0;
  text-decoration: underline;
  cursor: pointer;
  padding-bottom: 5px;
  background-color: white;
  font-size: 14px;
}
.single-blog button i {
  text-decoration: underline;
  cursor: pointer;
}
footer {
  background-color: black;
  color: rgb(222, 216, 216);
}
.about-text {
  margin-top: 40px;
  padding: 40px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 15px;
}
.about-text .left {
  width: 45%;
}
.about-text .left h3 {
  margin-bottom: 20px;
}
.about-text .left p {
  text-align: left;
  line-height: 23px;
}
.about-text a {
  text-decoration: none;
  color: rgb(222, 216, 216);
  display: block;
  line-height: 35px;
}
.about-text a:hover {
  text-decoration: underline;
}
.pharmacy-name {
  font-weight: normal;
  color: white;
}
.pharmacy-name:hover {
  color: white;
  text-decoration: underline;
}
hr {
  border: 0.1px solid #31aa7d;
  opacity: 0.21;
}
footer p {
  text-align: center;
  padding: 10px 0;
}
footer p span {
  color: #31aa7d;
  font-weight: bold;
}

/* Mobile Device */
@media only screen and (max-width: 480px) and (min-width: 0px) {
  header {
    display: block;
  }
  header h2 {
    width: 50%;
    margin-left: 0px;
    padding-left: 30px;
  }
  header ul {
    display: none;
  }
  .navbar {
    display: flex;
  }
  .navbar i {
    display: block;
    font-size: 25px;
    margin-left: 115px;
    border: 1px solid gainsboro;
    padding: 4px 12px;
    border-radius: 5px;
    cursor: pointer;
  }
  .banner {
    display: block;
    width: 100%;
  }
  .banner .banner-left {
    width: 100%;
    padding: 30px 50px 50px 30px;
  }
  .banner .banner-left .get-btn {
    padding: 8px 15px;
  }
  .banner .banner-left .news-btn {
    padding: 8px 17px;
  }
  .banner img {
    display: none;
  }
  .products-title,
  .team-title,
  .blogs-title {
    text-align: center;
    display: flex;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .products-title p,
  .team-title p,
  .blogs-title p {
    line-height: 22px;
    width: 100%;
    padding: 0 20px;
  }
  .products,
  .team,
  .blogs {
    padding: 0 5%;
    display: block;
  }
  .single-product {
    margin: 20px 0;
  }
  .single-product img {
    margin: 2px 0;
    width: 60%;
  }
  .single-product p {
    margin: 10px 0;
    padding: 0 20px;
  }
  .single-product i {
    margin: 10px 0;
    color: orange;
    margin-left: -4px;
  }
  .single-product button {
    background-color: #31aa7d;
    color: white;
    border: 0;
    width: 100%;
    padding: 8px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    font-weight: bold;
    font-size: 14px;
    margin-top: 10px;
    cursor: pointer;
  }
  .single-person,
  .single-blog {
    margin-bottom: 20px;
  }
  .single-person p {
    padding-bottom: 20px;
  }
  .about-text {
    margin-top: 40px;
    padding: 40px 0;
    display: block;
    font-size: 15px;
    text-align: center;
  }
  .about-text .left {
    width: 60%;
    margin: 0 auto;
  }
  .about-text .left h3 {
    margin-bottom: 20px;
  }
  .about-text .left p {
    text-align: center;
    line-height: 23px;
  }
  .about-text a {
    text-decoration: none;
    color: rgb(222, 216, 216);
    display: block;
    line-height: 35px;
  }
  footer p {
    text-align: center;
    padding: 10px 0;
  }
}
@media only screen and (max-width: 768px) and (min-width: 481px) {
}
